### Java ###
*.class
*.jar
*.log
**/bin/
**/dist/
**/build/
**/out/
**/target/

### Gradle ###
**/.gradle/

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### Eclipse ###
**/.project
**/.classpath
**/.setting/

### MacOS ###
**/.DS_Store